* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #1b1b1b;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    padding: 5px;
    overflow: hidden;
}

.container {
    text-align: center;
    padding: 20px;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 400px;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #76ff03;
}

#gameCanvas {
    background-color: #222;
    border: 2px solid #76ff03;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 400px;
    height: auto; /* Hace que el canvas sea responsive */
    aspect-ratio: 1 / 1; /* Mantiene una relación de aspecto cuadrada */
}

#score {
    margin: 20px 0;
    font-size: 1.2em;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #76ff03;
    color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #64dd17;
}

/* Estilo para los botones de control */
.controls {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 10px;
    max-width: 200px;
    margin: 10px auto;
}

.controls button {
    padding: 15px;
    font-size: 24px;
    cursor: pointer;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
}

/* Alinear los botones en el formato de una flecha */
#upButton {
    grid-column: 2;
}

#leftButton {
    grid-column: 1;
}

#rightButton {
    grid-column: 3;
}

#downButton {
    grid-column: 2;
    grid-row: 2;
}

/* Media Query para pantallas pequeñas */
@media (max-width: 480px) {
    h1 {
        font-size: 1.5em;
    }
    .controls button {
        padding: 10px;
        font-size: 20px;
    }
}
