* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #1b1b1b;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    padding: 20px;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #76ff03;
}

#gameCanvas {
    background-color: #222;
    border: 2px solid #76ff03;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
}

#score {
    margin: 20px 0;
    font-size: 1.2em;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #76ff03;
    color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #64dd17;
}

/* Estilo para los botones de control */

.controls {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    max-width: 150px;
    margin: 20px auto;
}

.controls button {
    padding: 10px;
    font-size: 24px;
    cursor: pointer;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
}

/* Alinear los botones en el formato de una flecha */
#upButton {
    grid-column: 2; /* Ubica el botón en el centro de la fila superior */
}

#leftButton {
    grid-column: 1; /* Alinea el botón de la izquierda */
}

#rightButton {
    grid-column: 3; /* Alinea el botón de la derecha */
}

#downButton {
    grid-column: 2; /* Ubica el botón en el centro de la fila inferior */
    grid-row: 2;
}
